.span {
    border: 1px solid red;
    /* width: 100px; */
    display: inline-block;
}

.img {
    /* width: 100px; */
}
.img-wrap{
    /* width: 200px;
    display: inline-block;
    font-size: 0;
    line-height: 0; */
    /* display:flex;
    flex-wrap: wrap; */
}
.img-wrap img{
    /* display: inline-block;
    vertical-align: top; */
    /* flex: 0 0 50% */
}
